body{
    background-image: url('background.jpg');
    background-size: cover;
    text-align: center;
    font-family: dongle;
    color: aliceblue;
}
h1{
    font-size: 35px;
    background: -webkit-linear-gradient(rgb(247, 81, 253), rgb(97, 194, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: fredoka one;
    transition: transform 1s;
}
h1:hover{
    transform: scale(1.2);
    cursor: pointer;
    text-decoration: underline rgb(143, 202, 254) ;
}
#current_song{
    font-size: 20px;
}
#current_song:hover{
    text-decoration: none;
    transform: scale(0.9);
}
canvas{
    box-shadow:1px 1px 38px rgb(243, 106, 255);
    border-radius: 20px;
    margin-top: 130px;
}
